.form{
    width:700px;
    /*the code below in this selector is for a background
    css pattern from https://www.magicpattern.design/tools/css-backgrounds */
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
}
input{
    font-weight: 600;
    font-size: 1.1rem; 
}
.detect-btn{
    border-color: rgb(166, 14, 166);
    border-style: solid;
    background-color: rgb(166, 14, 166);
    font-weight: 600;
    font-size: 1.1rem;
    color:white;
}